div {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
}

ol, ul, button {
    margin: 10px;
}

ul li:nth-child(3), ul li:nth-child(4) {
   color: red;
}

ol li:nth-child(2n + 2) {
    font-size: 24px
}

div p:first-child {
    font-style: italic;
}

body > div:nth-of-type(2) p:nth-child(2), body > div:nth-of-type(2) p:nth-child(3) {
    color: white;  
}

button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
}

button:hover {
    background-color: blue;
    color: white;
}

button:active {
    border-radius: 0;
    transform: scale(1.33); 
}
